<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://img3.douban.com/css/loc/packed_base4832867365.css">
    <link href="http://img3.douban.com/css/packed_douban9859329871.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://img3.douban.com/misc/mixed_static/5a90e0d916dc20a4.css">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>
<body>
<h1>Hello, world</h1>

{% load url from future %}
{% block content %}

<div class="article">
  
  <ul class="events-list events-list-pic100 events-list-psmall">
      <li class="list-entry" itemscope="" itemtype="http://data-vocabulary.org/Event">
      <div class="pic">
        <a href="http://www.douban.com/event/18681059/">
          <img data-lazy="http://img3.douban.com/pview/event_poster/median/public/fd4c304edc0b868.jpg" src="http://img3.douban.com/pview/event_poster/median/public/fd4c304edc0b868.jpg" width="110" itemprop="photo">
        </a>
      </div>
      <div class="info">
        <div class="title">
          <a href="http://www.douban.com/event/18681059/" title="Travis、张悬、Lenka、彭坦领衔 上海草莓音乐节 门票免费抢！！" itemprop="url">
            <span itemprop="summary">Travis、张悬、Lenka、彭坦领衔 上海草莓音乐节 门票免费抢！！</span>
          </a>
        </div>
        
          <p class="event-cate-tag">
            <a href="http://www.douban.com/event/search?loc=shanghai&amp;search_text=%E9%9F%B3%E4%B9%90%E8%8A%82&amp;p=week">音乐节</a>&nbsp;
            <a href="http://www.douban.com/event/search?loc=shanghai&amp;search_text=%E8%8D%89%E8%8E%93%E9%9F%B3%E4%B9%90%E8%8A%82&amp;p=week">草莓音乐节</a>&nbsp;
            <a href="http://www.douban.com/event/search?loc=shanghai&amp;search_text=%E6%91%87%E6%BB%9A&amp;p=week">摇滚</a>&nbsp;
          </p>
        <ul>
          <li class="event-time">
            <span>时间：</span>
            
            04月18日 ~ 04月27日 每天14:00-14:30 
            <time itemprop="startDate" datetime="2013-04-18T14:00:00"></time>
            <time itemprop="endDate" datetime="2013-04-27T14:30:00"></time>
          </li>
          <li title="上海 浦东新区 世博公园">
            <span>地点：</span>
              浦东新区
            世博公园
             <meta itemscope="" itemprop="location" content="上海 浦东新区 世博公园">
          </li>
          <li class="fee">
            
              <span>费用：</span>
              <strong>免费</strong>
          </li>
          <li>
            <span>发起：</span>
            <a target="db-event-owner" href="http://site.douban.com/chinaticket/">中票在线</a>
          </li>
        </ul>
        <p class="counts">
            <span>486人参加</span> <span class="pipe"></span> <span>118人感兴趣</span>
        </p>
      </div>
      </li>
      <li class="list-entry" itemscope="" itemtype="http://data-vocabulary.org/Event">
      <div class="pic">
        <a href="http://www.douban.com/event/18419138/">
          <img data-lazy="http://img3.douban.com/pview/event_poster/median/public/66e2b48ce1087d8.jpg" src="http://img3.douban.com/pview/event_poster/median/public/66e2b48ce1087d8.jpg" width="110" itemprop="photo">
        </a>
      </div>
      <div class="info">
        <div class="title">
          <a href="http://www.douban.com/event/18419138/" title="【新知推荐】老舍原著改编 独角戏《我这一辈子》" itemprop="url">
            <span itemprop="summary">【新知推荐】老舍原著改编 独角戏《我这一辈子》</span>
          </a>
        </div>
        
        <ul>
          <li class="event-time">
            <span>时间：</span>
            
            04月27日 周六 19:30-21:30 ...
            <time itemprop="startDate" datetime="2013-04-27T19:30:00"></time>
            <time itemprop="endDate" datetime="2013-04-28T21:30:00"></time>
          </li>
          <li title="上海 长宁区 兰心大戏院">
            <span>地点：</span>
              长宁区
            兰心大戏院
             <meta itemscope="" itemprop="location" content="上海 长宁区 兰心大戏院">
               
               <span itemprop="geo" itemscope="" itemtype="http://data-vocabulary.org/​Geo">
                  <meta itemprop="latitude" content="31.220366">
                  <meta itemprop="longitude" content="121.424622">
               </span>
          </li>
          <li class="fee">
            
              <span>费用：</span>
              <strong>280元 / 180元 / 100元</strong>
          </li>
          <li>
            <span>发起：</span>
            <a target="db-event-owner" href="http://site.douban.com/sixiangshi/">国学新知</a>
          </li>
        </ul>
        <p class="counts">
            <span>56人参加</span> <span class="pipe"></span> <span>239人感兴趣</span>
        </p>
      </div>
      </li>
  </ul>

</div>

{% endblock %}

</body>
</html>
